body {
    background: cadetblue;
    margin: 0;
    padding: 0% 0%;
    font-family: 'Raleway', sans-serif;
}

table {
    width: 100%;
    padding: 10px 0px;
    /*background: rgba(236, 211, 229, 0.1);*/
    background: rgba(255, 255, 255, 0.30);
    border-radius: 0px 0px 5px 5px;
}



.btn-div {
    margin-top: 50px;
    padding: 80px 24px;
    outline: 0 !important;
    border-radius: 50%;
    border: 0;
    box-shadow: none;
    font-size: 30px;
    background: #7fb981;
    color: white;
    transition: all 0.3s ease;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif
}

.btn-div:hover {
    /*#8d83a7*/
    background: #f0f8ff;
    color: #989797;
}

/*.col:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    background-color: #434750;
}*/


contain {
    display: block;
    overflow: auto;
}

.Button .Center {
    position: absolute;
}

.Center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
}

.Center .Row {
    overflow: visible;
}

.Grid {
    position: relative;
	width: 100%;
	/*background: #fd7f7f;*/
    background: #cac798;
    box-sizing: border-box;
	display:block;
    overflow: auto;
}

.Grid .Card {
    position: relative;
	width: 50%;
    padding: 10px 5px 10px 10px;
    box-sizing: border-box;
	background: #888888;
	display:block;
    float:left;
}

.Grid .Card:nth-of-type(2n) {
    padding: 10px 10px 10px 5px;
    float:right;
}

.Grid .Card .Box {
	padding: 10px;
    background: rgba(236, 211, 229, 0.1);
	display:block;
}

.Grid .Card .Box img {
	width:100%;
	padding-bottom:100%;
    background: bisque no-repeat center;
    background-size: contain;
}

.Grid .Card .Row {
	/*height: 50px;*/
	display:block;
    overflow: auto;
}

.Row button {
    padding: 5px 10px;
    float: left;
    outline: 0 !important;
    border: none;
    box-shadow: none;
    background: antiquewhite;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.Row button:hover {
    /*background: rgba(175,125,125,0.5);*/
    background: rgba(0, 0, 0, 0.3);
}

.Row button {
    width: 50%;
    /*background: rgba(35,17,17,0.25);*/
    background: rgb(134, 134, 134);
    transition: all 0.6s ease;
}
.Row .active {
    background: rgba(10, 10, 10, 0.5);
    /*background: rgba(175,125,125,0.8);*/
}

#generator > div > .Card {
    height: 36vh;
    padding: 0;
    overflow-y: hidden;
}

#module-nav {
    background: transparent;
    box-shadow: 0px 0px 10px #616161;
    border-radius: 5px 5px 0px 0px;
}

#module-nav .Row {
    background: transparent;
    background: rgb(134, 134, 134);
}

#layout .main-view {
    background: white;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;

}

#layout #view-wrap {
    height: 100%;
}

.Button:active {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.remove {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
    border: 0;
    outline: 0 !important;
    border-radius: 50%;
    font-size: 28px;
    padding: 2px 7px;
    background: lightgreen;
    -webkit-user-select: none;
}

button:active {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

#select, #remove {
    position: fixed;
    top: 56vh;
    right: 96px;
    font-family: 'Raleway', sans-serif;
}

#remove {
    right: 36px;
}

#select button, #remove button {
    border: 0;
    border-radius: 8px;
    height: 56px;
    width: 56px;
    padding: 0;
    color: white;
    background: rgba(125, 3, 0, 0.25);
    outline: 0 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#select .active, #remove .active {
    background: rgb(60, 62, 58);
    outline: 0 !important;
}


.edit a:before {
    content: "";
    position: absolute;
    top: 50%;
    /*left: 14px;
    width: 10px;
    height: 10px;
    margin-top: 2px;*/
    left: 9px;
    width: 7px;
    height: 7px;
    margin-top: 2px;
    background: #737373;
    -webkit-transform: skew(-10deg, -10deg);
    -moz-transform: skew(-10deg, -10deg);
    -ms-transform: skew(-10deg, -10deg);
    -o-transform: skew(-10deg, -10deg);
    transform: skew(-10deg, -10deg);
}
.edit {
    position: absolute;
    border-radius: 50%;
    display: block;
    border: 0;
    outline: 0 !important;
    box-shadow: 0;
    height:37px;
    width: 37px;
    background: #8daf8d;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
}

.edit a:after {
    content: "";
    position: absolute;
    top: 50%;
    /*left: 15px;
    width: 26px;
    height: 12px;
    margin-top: -9px;
    border-left: 2px solid #8daf8d;*/
    left: 10px;
    width: 18px;
    height: 8px;
    margin-top: -6px;
    border-left: 1px solid #8daf8d;
    background: #737373;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*button:active {
    transform: translateY(3px);
    box-shadow: 0px 0px 0px #3298ff !important;
}*/
