body {
    background: cadetblue;
    margin: 0;
    padding: 0% 0%;
    font-family: 'Raleway', sans-serif;
}

table {
    width: 100%;
    padding: 10px 0px;
    background: rgba(236, 211, 229, 0.1);
}



.btn-div {
    margin-top: 50px;
    padding: 80px 24px;
    outline: 0 !important;
    border-radius: 50%;
    border: 0;
    box-shadow: none;
    font-size: 30px;
    background: #7fb981;
    color: white;
    transition: all 0.3s ease;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif
}

.btn-div:hover {
    /*#8d83a7*/
    background: #f0f8ff;
    color: #989797;
}

/*.col:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    background-color: #434750;
}*/


contain {
    display: block;
    overflow: auto;
}

.Button .Center {
    position: absolute;
}

.Center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
}

.Center .Row {
    overflow: visible;
}

.Grid {
    position: relative;
	width: 100%;
	background: #fd7f7f;
	display:block;
    overflow: auto;
}

.Grid .Card {
    position: relative;
	width: 50%;
    padding: 10px 5px 10px 10px;
    box-sizing: border-box;
	background: gray;
	display:block;
    float:left;
}

.Grid .Card:nth-of-type(2n) {
    padding: 10px 10px 10px 5px;
    float:right;
}

.Grid .Card .Box {
	padding: 10px;
    background: rgba(236, 211, 229, 0.1);
	display:block;
}

.Grid .Card .Box img {
	width:100%;
	padding-bottom:100%;
    background: bisque no-repeat center;
    background-size: contain;
}

.Grid .Card .Row {
	/*height: 50px;*/
	display:block;
    overflow: auto;
}

.Row button {
    padding: 5px 10px;
    float: left;
    outline: 0 !important;
    border: none;
    box-shadow: none;
    background: antiquewhite;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.Row button:hover {
    background: rgba(175,125,125,0.5);
}

.Row button {
    width: 50%;
    background: rgba(35,17,17,0.25);
    transition: all 0.6s ease;
}
.Row .active {
    background: rgba(175,125,125,0.8);
}

#generator > div > .Card {
    height: 45vh;
    padding: 0;
    overflow-y: hidden;
}

#module-nav {
    background: transparent;
}

#module-nav .Row {
    background: transparent;
}

#layout .main-view {
    background: rgba(255,0,0,0.2);
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-bottom: 100px;
    /*position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;*/
}

.Button:active {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.edit {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
    border: 0;
    outline: 0 !important;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px 15px;
    background: lightgreen;
    -webkit-user-select: none;
}

.delete:active {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}

/*button:active {
    transform: translateY(3px);
    box-shadow: 0px 0px 0px #3298ff !important;
}*/
